[2013-10-30 10:40] talamaska opened #1 "Please change the icon of the JavaScript V8 Engine"
This cup is the logo of Java, as Java has nothing to do with Javascript.

[2013-10-30 15:15] leecade opened #5 "Any ways to support linux/OSX platforms?"

[2013-11-07 00:23] #5 closed, assigned to nobody

[2013-11-07 00:34] sdesalas opened #6 "StackOverflowException returning self-referenced objects to the console."
![stackoverflowerror](https://f.cloud.github.com/assets/534414/1488212/f9eb6d10-4743-11e3-8bfe-82efcf242f2f.png)

STEPS TO REPRODUCE:
1. Run TrifleJS.exe on REPL (no arguments)
2. Enter `trifle.trifle = trifle`
3. StackOverflowException occurs

MORE INFO:

This issue actually occurs in the Noesis.Javascript.dll dependency, the parameter conversion from V8 to C# does not take infinite recursions in

[2013-11-07 01:43] #1 closed, assigned to nobody

[2013-11-07 03:40] sdesalas opened #7 "console.log does outputs `undefined` as `null`"

[2013-11-19 03:30] sdesalas opened #8 "Script error prevents loading some webpages"
see [http://html5test.com](http://html5test.com)

[2013-11-28 15:19] AlbanMinassian opened #9 "viewport &render"
With this code, the viewport property has no effect when render. Render always returns in 1024 x 800.

[code]

Is it possible to set the size of screen capture?
Thank, AMi44

[2013-12-01 09:28] #9 closed, assigned to nobody

[2013-12-03 14:18] AlbanMinassian opened #10 "proxy"
Have you planned the proxy settings `--proxy` and `--proxy-auth` as phantomjs (https://github.com/ariya/phantomjs/wiki/API-Reference) or slimerjs (http://docs.slimerjs.org / current / configuration.html)

thank you

[2013-12-03 22:57] #10 closed, assigned to nobody

[2013-12-05 22:48] sdesalas opened #12 "Add window.navigator object"
See example:

https://github.com/ariya/phantomjs/wiki/REPL

      phantomjs> window.navigator⏎
      {
         "cookieEnabled": true,
         "language": "en-GB",
         "productSub": "20030107",
         "product": "Gecko",
         "appCodeName": "Mozilla",
         "mimeTypes": {
            "length": 0
         },
         "vendorSub": "",
         "vendor": "Apple Computer, Inc.",

[2013-12-05 22:52] sdesalas opened #13 "REPL Autocompletion"
See:

https://github.com/ariya/phantomjs/wiki/REPL#auto-completion

Tapping TAB (i.e. →|) can make all the difference:

[code]

[2013-12-10 04:45] sdesalas opened #14 "Callback not waiting for remote images to load"
Browser.DocumentCompleted event does not take remote resources (such as images) into account. It fires before these have finish loading.

Images hosted in the same server (domain presumably) load correctly, however those imported from other domains do not load.

TEST CODE

Note that when running the code below the TrifleJS logo will show up but the "Fork Me on Github" banner does not.

[code]

[2013-12-10 05:16] #14 closed, assigned to nobody

[2013-12-11 06:10] fernyb opened #15 "Doesnt work in Windows XP"
Under Windows XP it doesn't work.

![screen shot 2013-12-10 at 10 09 18 pm](https://f.cloud.github.com/assets/6238/1721683/e0d5beaa-622a-11e3-86ed-222941e70d84.png)

[2013-12-12 02:21] #15 closed, assigned to nobody

[2013-12-21 08:52] sdesalas opened #16 "SOCKS Proxy in IE8"
SOCKS proxy does not seem to be working in IE8.

This could be something to do with underlying browser config. Need to try with IE9 to be certain.

Here is a SOCKS proxy that works with Firefox & Chrome (but not IE8):

http://www.softpedia.com/get/Internet/Servers/Proxy-Servers/FreeProxy.shtml

[2013-12-31 11:52] AlbanMinassian opened #17 "Binary"
Hello @sdesalas

TrifleJS.Lastest.zip is older than one month

I do not have a development environment on my computer so I can not compile triflejs. So I can not use or test the latest commits.

I would be very grateful to automate the generation of https://github.com/sdesalas/trifleJS/blob/master/Build/Binary/TrifleJS.Latest.zip file.

Happy New Year
Thank you
Ami44

[2014-01-05 12:00] #17 closed, assigned to nobody

[2014-01-06 15:41] AlbanMinassian opened #18 "File does not exist: --emulate:IE8"
Last download build not work

[code]

[code]

[code]

and nothing , no progression, i must kill cmd

If a download the old build (https://github.com/sdesalas/trifleJS/blob/587e6a0887d2dc8be9f6f525d257e4670058f63f/Build/Binary/TrifleJS.Latest.zip) all is ok

[2014-01-07 08:39] AlbanMinassian opened #19 "fail to open two pages"
hello @sdesalas

This code works with previous build (last month), but not with last.

[code]

Is this a bug? How do I make multiple pages render?
Thank, Ami44

[2014-01-24 08:15] adwu73 opened #20 "should consider selenium/webdriver integration"
We have tried selenium/webdriver + phantomjs, however, this solution can not handle popup windows, alerts well. I hope trifleJS can support selenium integration in the future

[2014-03-26 18:16] stevenng opened #22 "Trying to render with IE8 but it keeps showing IE10"
Hi guys,

Please let me know if I missed something, but I was typing in the command to emulate IE8, however the whatbrowser screenshot always shows that i'm currently using IE10.

TrifleJS.exe --debug --emulate=IE8 --render=http://whatbrowser.org/

Thanks!

[2014-05-04 12:42] mickaelandrieu opened #23 "consider add documentation"
Hi,

how I can use trifleJS as engine for casperJs ?

I don't need a full support of API, Just a POC to work on it.

Thank You

[2014-05-14 16:29] Natkeeran opened #24 "webkit screenshot vs trident screenshot"
We have a web page which displays differently in webkit and trident (IE).  However, trifleJS seems to show the webkit version than the trident version.  Documentation say that trifleJS uses the trident layout engine.  Example code follow:
var page = require('webpage').create();
page.open('sampleurl.html', function() {
  page.render('test.png');
  phantom.exit();
});

[2014-05-30 09:17] FattusMannus opened #25 "Unhandled Exception on start"
Trying to run TrifleJs from command line give me:

Unhandled Exception: System.IO.FileLoadException: Could not load file or assembl
y 'Noesis.Javascript, Version=0.0.0.0, Culture=neutral, PublicKeyToken=ae36d046c
7f89f85' or one of its dependencies. The application has failed to start because
 its side-by-side configuration is incorrect. Please see the application event l
og or use the command-lin

[2014-08-06 18:24] AndrewKL opened #27 "permission denied when using a local file"
when running a local html file i get

Error: 20
Permission Denied

when i run the following command

./Triflejs.exe --render=C:\git\inputmanager\InputManager.tests.jasmine\test-runner.html

[2014-09-15 06:58] pushkar-g opened #28 "Websocket Support for IPC"
Hi,
Currently PhantomJS supports IPC using Websocket client.

Can TriffleJS also add support for WebSocket client in TriffleJS context? I would be more than happy to submit a PR if that makes sense.

[2014-11-05 23:27] DylanDonkersgoed opened #29 "Screenshots Stop at Either Viewport Height Or 800px Height"
Screenshots taken with the page.render() function don't reach the height they should.

I've tried with a couple different sites and for some reason render stops at either the viewport height (which seems logical on the surface but is not the behaviour of PhantomJS - it extends to the bottom of the page) or at 800px if I omit the height. I also get heights of 800px if I try to manually set the heig

[2014-11-12 12:30] bbalet opened #30 "Add support to CasperJS"
Do you have plans to implement CasperJS API ?

[2014-11-30 07:51] #18 closed, assigned to sdesalas

[2014-11-30 07:52] #20 closed, assigned to nobody

[2014-11-30 08:05] #27 closed, assigned to nobody

[2014-11-30 09:42] feuyeux opened #31 "TypeError: Cannot read property 'userAgent' of undefined"
it doesn't support window.navigator.userAgent or page.settings.userAgent.

[2014-11-30 12:49] #30 closed, assigned to nobody

[2014-11-30 12:52] #24 closed, assigned to nobody

[2014-11-30 12:56] #23 closed, assigned to nobody

[2014-12-02 22:18] changalberto opened #32 "TrifleJS cross-platform MacOSX"
Microsoft [open sourced](http://news.microsoft.com/2014/11/12/microsoft-takes-net-open-source-and-cross-platform-adds-new-development-capabilities-with-visual-studio-2015-net-2015-and-visual-studio-online/) .NET

Are there any plans to make this work for Mac?

[2014-12-06 06:44] #32 closed, assigned to nobody

[2014-12-07 13:52] #19 closed, assigned to sdesalas

[2015-01-01 12:31] sdesalas commented on #29
Thanks for the extended explanation and the actual code for testing, these are very useful. Will test in both Debug and Release, not sure why the difference is there either.

[2015-01-07 15:37] paazmaya opened #33 "Version printed as 1.7.0 while using release 0.4"
[code]
prints out `1.7.0` while the version installed is `0.4`.

[2015-01-07 23:26] sdesalas commented on #33
Hi @paazmaya.

Thats the version of phantom targetted by TrifleJS.

To get the actual TrifleJS version you can use:

[code]
I'm writing TrifleJS to be a drop-in replacement for phantom. But I see your logic in that its a bit odd seeing `1.7.0` in there. Maybe I'll change this sometime in the future.

[2015-01-07 23:28] sdesalas commented on #31
Hi @feuyeux

`window.navigator` is now supported.

This will give you navigator information for the version of IE being emulated.

[2015-01-08 08:01] paazmaya commented on #33
Thank you for the explanation, @sdesalas

[2015-01-09 03:50] sdesalas commented on #33
Hi @paazmaya,

I made changes to the codebase yesterday and incorporated this change. If you download the latest binary you'll get the trflejs version (0.5.0) instead.

[2015-01-09 03:50] #33 closed

[2015-01-09 03:56] sdesalas commented on #22
Left to do: make sure there is another way to implement IE default ("standards mode"). For example accepting IE9_STANDARDS as emulation mode.

[2015-01-09 03:57] #12 closed

[2015-01-09 03:58] sdesalas commented on #8
This might be working better now..

[2015-01-09 04:11] sdesalas commented on #5
Hi @veacks, thanks for suggestion. Haven't used Vagrant but sounds like a good complement for automating multiple concurrent instances of triflejs. Other project on my radar is Docker, which is bringing guest containers to Windows soon.

[2015-01-09 12:16] sdesalas commented on #33
NP! :)

[2015-01-13 00:28] sdesalas commented on #22
Added following `--emulate` options:

- `IE8_STANDARDS`
- `IE9_STANDARDS`, and
- `IE10_STANDARDS`

These are there to support the default IE Auto-downgrade functionality that causes so much pain and confusion (the so-called "Standards" mode).

[2015-01-13 00:28] #22 closed

[2015-01-14 02:47] mkliu opened #34 "getBoundingClientRect not working"
I can't get anything from this, returned value is an empty object. I saw one of your test case actually is calling getBoundingClientRect().
              console.log(page.evaluate(function() {
                    var response;
                    var element = document.getElementById("ef");
                    // var element = document.documentElement;    not working either
                    var

[2015-01-14 12:08] sdesalas commented on #34
Can you send me the whole script? I'll try debug it.

[2015-01-14 21:02] mkliu commented on #34
Here you go. If I want to debug myself, how should I do it?

        var page = require('webpage').create(),
            system = require('system'),
            address, output, size;

        var output = "test.png";
        var address ="http://embed.plnkr.co/RxznuEsxVabaRVTGMbKa/preview";

        page.viewportSize = { width: 1800, height: 768 };
        page.open(address, function (status) {

[2015-01-15 03:56] sdesalas commented on #34
Perfect thanks :). Will be back with some more info on topic.

In the meantime try to open up IE Developer tools and run the code in window.setTimeout() see what happens, in theory this should be no different to TrifleJS but if there is a difference I'll be able to tell you why.

[2015-01-16 19:22] mkliu commented on #34
page is null, so i directly tried
      document.getElementById("test")
This returns null. I tried on both IE10 (Server 2012) and IE11(Win8). I also tried on Chrome, it returns null too. But the element definitely exist, I modified the plunk to test that.

[2015-01-20 00:13] mkliu commented on #34
Actually, i figured out why, the element is inside an iframe. So close the issue.

[2015-01-20 00:13] #34 closed

[2015-01-20 00:17] mkliu opened #35 "Evaluate doesn't return object"
The following script runs fine in phantom but not in trifleJS. Returning normal string is fine, but returning an object isn't.
		var page = require('webpage').create();
		var url = 'http://www.google.com/';

		page.open(url, function (status) {
		   var js = page.evaluate(function () {
		       return document;
		   });
		   console.log(JSON.stringify(js));
		   phantom.exit();
		});

[2015-01-21 16:41] lypanov opened #36 "SSL error ignore flag"
Currently when attempting to access a localhost https:// URL via render I get some nice dialog boxes, however, doing the same from within a script results in an instant "success" in the callback but no actual website is loaded. If this isn't something on your short term road map, do you have any pointers for next steps?

Thank you!

[2015-01-22 07:08] sdesalas commented on #36
Hiya, haven't worked on this feature for a while and there is no unit test either so can't tell you for certain what it's doing.. will test again when I get a mo. Thanks for bringing it to my attention.

[2015-01-22 07:12] sdesalas commented on #35
Thanks @mkliu, this probably related to how IE and WebKit deal with host (browser) objects. The evaluate() call in TrifleJS should return simple JSON objects though, it's just that recursing through the host objects in IE tends to throw up all kinds of exceptions..

[2015-01-23 08:43] feuyeux commented on #31
Thanks a lot for your efforts and I will update it in my team.

[2015-01-24 02:05] mkliu commented on #35
heard the new IE is open sourced, not sure whether that's gonna make the story easier.

[2015-01-25 11:58] sdesalas commented on #29
Hi @DylanDonkersgoed,

Checked in c4c5ec4.

All good now as far as I can tell. Width and height looking good. I had to add those 50px in the end as there was no other way to remove the scrollbars.

[2015-01-25 12:00] #29 closed

[2015-01-25 14:51] sdesalas commented on #25
I added a new version of [TrifleJS.Latest.zip](https://github.com/sdesalas/trifleJS/raw/master/Build/Binary/TrifleJS.Latest.zip) with bundled dependencies. Turns out I only had to add the manifest that came with Noesis.Javascript.dll.. I dont have a computer handy for testing but this might have made the issue go away.

[2015-01-26 17:39] juliensobrier opened #37 "Javascript error popup on some websites"
Try this command:
TrifleJS.exe --render=https://www.zscaler.com/

There are Javascript error on the page. This creates 2 popups that need to be acknowledge manually. My Internet options have "Disable script debugging (Internet Explorer)" and "Disable script debugging (Other)" enabled, "Display a notification about every script error" disabled.

This might be enough to disable these warnings:
webBr

[2015-01-26 23:58] sdesalas commented on #37
Hiya @juliensobrier,

Thanks for the tip, I havent added the `.ScriptErrorsSuppressed = true` switch in as I wanted to be aware of any javascript errors that came up during development.

I will make sure that the switch is added to the `Release` version of TrifleJS though, while keeping errors in `Debug`.

Cherio,
Steven

[2015-01-27 00:10] #37 closed

[2015-01-27 20:24] mkliu opened #39 "Use .NET mono and ship Trifle as a standalone distribution?"
I'm running into this problem when trying to deploy on different servers. Sometimes I need to install .NET framework, sometimes I need to install some distributable. Since .NET is open sources with mono runtime, Is it feasible to include them so trifle doesn't have to depend on external dependencies?

[2015-01-27 23:12] sdesalas commented on #39
The distributable dependency should now be included in the [latest binary](https://github.com/sdesalas/trifleJS/raw/master/Build/Binary/TrifleJS.Latest.zip). For more info see [this post](https://github.com/sdesalas/trifleJS/issues/25#issuecomment-71375877).

I would not recommend using TrifleJS with .NET mono as you will find a host of other problems that arise from the different behaviour in [We

[2015-01-27 23:17] sdesalas commented on #39
Actually on that I need to remove the message asking for the distributables to be installed now they are bundled up... reopening

[2015-01-27 23:23] sdesalas commented on #39
If you want to do this yourself just comment out lines [223-234 in Program.cs](https://github.com/sdesalas/trifleJS/blob/master/Program.cs#L223)

[2015-01-27 23:23] #39 closed

[2015-01-28 06:32] sdesalas commented on #39
Hi @mkliu,

It would be great if you can give a pointer as to how the bundling up of VC9 dependencies worked with your various deployments, I am always short of time to test and anything you can save me would be much appreciated.

Ta!!

[2015-01-28 07:00] mkliu commented on #39
I don't have a pointer, just a thought since .NET is going open source. Let me explore once I have some free time. But I'm expecting to see some weird problems coz fiddler on linux which was based on mono was awful.

[2015-01-28 07:10] sdesalas commented on #39
No problems. Please read the wiki, there is an FAQ section there. Many ppl ask me if trifleJS will work on Linux/OSX, the short answer is no.

However I notice you do some other work with Docker, it's worth waiting for windows dockerization which is supported in new OSs sometime down the line..

[2015-01-28 18:12] mkliu commented on #39
Yup, I'm waiting for that excite moment too, lol

[2015-01-29 14:12] sdesalas commented on #35
HI @mkliu,

Verified bug & checked in 62fa111, this should take care of the problem. I noticed host objects such as `window` and `document` return null. I dont think this is a bug but rather a problem trying to recurse over them to convert them to JSON.

[2015-01-29 14:12] #35 closed

[2015-01-31 03:00] sdesalas opened #40 "Error while obtaining navigator info - IE8"
[code]

[2015-02-01 04:53] juliensobrier opened #41 "Mixed mode assembly error in interactive mode"
This error happens in interactive mode only, not when using he --render option:

Unhandled Exception: System.IO.FileLoadException: Mixed mode assembly is built against version 'v2.0.50727' of the runtime and cannot be loaded in the 4.0 runtime without additional configuration information.
   at TrifleJS.Program.Interactive()
   at TrifleJS.Program.Main(String[] args) in c:\...\trifleJS\Program.cs:

[2015-02-01 06:00] juliensobrier commented on #41
This was caused by Noesis.Javascript and Newtonsoft.Json

[2015-02-01 07:02] sdesalas commented on #41
Hi @juliensobrier.

Thanks for the bug report and related info. I'm trying to remove dependency on local installation of VC++ 2008 runtime (see #25), so I bundled dependencies for Noesis.Javascript but in doing so might have ended up causing other issues too.

BTW this could also be related to the platform target. I'm always targetting x86 to make sure that I can have one set of binaries and depen

[2015-02-01 07:04] sdesalas commented on #41
Also, you have a wider selection of downloads for Noesis.Javascript (.Net 3.5 and 4 vs x64 and x86) if you are building TrifleJS against a specific .NET version. You can [download the DLLs in this link](http://javascriptdotnet.codeplex.com/releases/view/88504).

[2015-02-01 07:17] sdesalas commented on #41
I'll be adding some more info on this topic to the wiki. Its bound to come up again.

[2015-02-01 12:49] sdesalas commented on #40
Only seems to be happening in XP/IE8

[2015-02-02 04:38] juliensobrier commented on #41
I'm not very familiar with .Net, but is there a way to get npm to pull the dependencies automatically? This is how I got the right version for the 2 libraries.

[2015-02-05 06:43] juliensobrier opened #43 "trifle.modules.WebPage.js (157,17): Parameter is not valid."
I got this error:

WebPage.prototype.render(filename)
trifle.modules.WebPage.js (157,17): Parameter is not valid.

I'm not sure if (157,17) refers to the .Net source code or the javascript file TrifleJS. executes. Line 157 in WebPage.cs has no code. I looked for "Parameter is not valid" in the whole project, I could not find it.

[2015-02-08 05:08] juliensobrier opened #44 "window.setTimeout never triggers after 3s"
When the page is loaded, I set up a timeout (window.setTimeout). For timeout values of 3s or more, the timeout event never trigger.

With a window.setInterval set to 1s, it stop triggering after 2s.

[2015-02-10 23:03] juliensobrier commented on #43
The issues is that the viewport width was set to 0 (undefined in Javascript). See https://github.com/juliensobrier/trifleJS/commit/df345c550e1434ef71f90ee27b0f0f9c3517f021 for some additonal checks

[2015-02-10 23:03] juliensobrier opened #45 "Avoid Window popup"
Websites can open window popus. See the fix at https://github.com/juliensobrier/trifleJS/commit/df345c550e1434ef71f90ee27b0f0f9c3517f021:

this.NewWindow += delegate(object sender, System.ComponentModel.CancelEventArgs e)
 {
 e.Cancel = true; ;
 };

[2015-02-11 15:33] sdesalas commented on #43
Hi Julien, this looks like the javascript used in trifleJS to setup the internal javascript environment (replumb the 'page' methods/setters to their .net counterparts) is throwing an error. Possibly when passing a parameter to the .NET _render() method. Sorry been a bit busy lately no had much of a chance to look at triflejs this month yet.

[2015-02-17 16:43] tejacques commented on #40
Not sure if this will help you track it down, but I had this same error occur when running TrifleJS.0.4 on win7-ie8 32bit (Modern.IE VM). Using TrifleJS.Latest the problem went away.

[2015-02-20 23:36] tejacques opened #46 "Window SetTimeout / SetInterval don't work when building from source"
This may be related to VS2013 rather than trifle, but when I take a fresh checkout, open the solution in VS 2013, and run (in debug mode) TrifleJS.exe examples/countdown.js, I get the following error:

[code]

[2015-02-22 01:52] sdesalas commented on #46
Thanks @tejacques

Seems like a problem with recent changes to bootstrap.js, investigating..

S

[2015-02-22 01:56] sdesalas commented on #44
HI @juliensobrier thanks will take a look.

[2015-02-22 02:01] sdesalas commented on #40
Hi @tejacques. Thanks for the tip. Yep seems like this is related to IE version. Will keep an eye out and fix when I get a chance.

[2015-02-22 02:06] sdesalas commented on #45
Hi @juliensobrier, thanks for the suggestion.

I did wonder what to do about popups when I was working on window frames. Not sure I feel that great about banishing them entirely but your code is useful and I'm leaning towards having a solution here where this is a CLI option rather than outright default setting. I believe original PhantomJS allows for popups as well as navigation from child to par

[2015-02-22 02:11] sdesalas commented on #46
I think this is fine now. Let me know.

[2015-02-22 02:11] #46 closed

[2015-02-22 05:21] sdesalas commented on #40
This was being caused when parsing native IE Host objects using JSON.stringify(). Should be fixed now.

[2015-02-22 05:21] #40 closed

[2015-02-22 06:24] tejacques opened #47 "WebPage.onInitialized is not called when set"
### Bug

Setting the onInitialized function does not cause it to be called, as the check to call it is currently in the WebPage constructor (init function of WebPage.js).

### Steps to Reproduce

run:
[code]
onInitialized.js:
[code]

#### Expected Output (PhantomJS)
[code]

#### Actual Output (TrifleJS)
[code]

The PhantomJS spec says (http://phantomjs.org/api/webpage/handler/on-initialized.html):

[2015-02-22 06:55] juliensobrier opened #48 "TriffleJS --render fails on http://livedoor.com/"
Here is the output:

C:\...\trifleJS\bin\Debug>TrifleJS.exe --debug --render=http://livedoor.com/
TrifleJS.exe --debug --render=http://livedoor.com/
Setting Version to IE11
Rendering http://livedoor.com/...
WebBrowser#DocumentCompleted
Render(,)...
Ratio: 1
Width: 1007
Height: 1045
Screenshot rendered to file: livedoor.com.png
WebBrowser#DocumentCompleted
Render(,)...
Ratio: 1
Width: 1007
Height:

[2015-02-23 05:25] tejacques commented on #47
I think I've got something working for this using the `Navigated` event. I'm not sure if it's spec equivalent to PhantomJS because it won't file on reload, but I'll try to do some testing and submit a PR.

[2015-02-23 05:29] sdesalas commented on #48
Hiya,

Thanks for the example and debug info. Will chase up when I get a mo.

[2015-02-23 07:13] tejacques commented on #47
There's actually another bug related to this. The toolset added to the window (json2 and ie tools) aren't actually available until the page `onload` event is fired. In PhantomJS they are available immediately because they are inserted when the page is created.

This can be fixed very easily by moving the `AddToolset()`  call from `DocumentCompleted` to `Navigated`. The unhanded error tracking shou

[2015-02-23 07:42] tejacques opened #50 "window.callPhantom and unhandled error logging are not available until onload event fires."
### Bug

Since these are set up on `DocumentCompleted`, the page has already run it's JavaScript and they are not available until the `onload` event has fired.

#### Steps to reproduce

test_callPhantom.js
[code]

[code]

#### Expected Output
[code]

#### Actual Output
[code]

[2015-02-23 08:25] tejacques opened #51 "window.callPhantom doesn't trigger page.onCallback after page.load"
### Bug

After calling `page.open`, `page.onCallback` doesn't trigger when `window.callPhantom` is called. It works from a newly created page, but that's it.

#### Steps to reproduce

test_onCallback.js
[code]

#### Expected Output
[code]

### Actual Output (with: browser.ScriptErrorsSuppressed = false)
[code]

Sometime between when the page is created, and a url is opened the ObjectForScripting b

[2015-02-23 08:31] tejacques commented on #50
I have a fix for this I'm happy to submit a PR for. Wanted to get feedback on the first one though since adding more commits to my master branch will automatically add them to that PR.

Also, fixing this issue lead me to discover bug #51.

[2015-02-23 20:35] tejacques commented on #51
I tracked this down to being caused by this line:

[code]

I'm not sure why this occurs, but if you use this, it makes the `ObjectForScripting` inaccessible after navigating.

[2015-02-23 23:14] tejacques commented on #51
Do you have a good test case for this? I have this in a state where the AuthenticateProxy event is being fired and the ObjectForScripting object is accessible, but I don't have a good test file to see if Authenticating really works.

[2015-02-28 00:59] sdesalas commented on #51
Hi @tejacques,

I noticed this behaviour as well and decided to postpone the bugfix til I deal with some of the CLI options such as proxy authentication. As you mentioned below these behaviours are linked but its hard to get a good test case running as TrifleJS does not have an internal proxy built in to create a test case with, and thus debugging is tedious and painful. Anyway thanks for bringing

[2015-02-28 02:21] sdesalas commented on #51
Looking at command line proxies that I can incorporate into my unit tests, since phantoms ChildProcess functionality is up and running I can just spin off two sub-processes proxy.exe and a `triflejs.exe --proxy=address:port` and see what the output is for the latter.

[2015-02-28 02:39] tejacques commented on #51
Awesome! Once I can properly test this I'll submit a PR.

[2015-03-08 00:43] sdesalas commented on #51
FYI: Proxy authentication will be down for a while, I need to knock it out as this is higher priority.

[2015-03-08 01:02] tejacques commented on #51
No worries. Let me know if there's anything I can update / fix / tweak on any of the issues I've submitted. I'd love to help get some of this stuff fixed upstream.

[2015-03-08 02:34] sdesalas commented on #50
Thanks @tejacques, I agree its better this way. Just have to check unit tests after doing the merge. Will get to this after more delicate work on page.onCallback.

[2015-03-08 02:35] sdesalas commented on #47
Yep agree this is a good fix.

[2015-03-08 02:37] sdesalas commented on #36
Hi @lypanov,

This should be working in the latest version of TrifleJS. Let me know how you go.

Steven

[2015-03-08 03:05] sdesalas opened #52 "page.onCallback() does not handle dates"
TrifleJS is using JSON.stringify() and JSON.parse() to copy objects from IE context to the V8 runtime where test scripts are executed. Thus if you do something like this:

 		page.onCallback = function(theDate, theType) {
			console.log(theDate, theType);
		}

 	page.evaluate(function(date) {
		window.callPhantom(date, typeof date);
	}, new Date());

You will recieve:

      [
          "2015-03-0

[2015-03-08 14:10] sdesalas commented on #47
HI @tejacques,

Added a fix for this bug. Had to call `page.onInitialized` during DocumentCompleted event (instead of Navigated) as I couldn't get access to global variables using `page.evaluate` during the latter event.

[2015-03-09 01:27] sdesalas commented on #47
Btw. I noticed that if I move 'onInitialized' to the 'Navigated' browser event I can write to global context on the webpage (but not read as the DOM is not available yet).. might consider moving functionality there if PhantomJS behaves the same way.

[2015-03-09 01:34] sdesalas commented on #52
Actually, this could be related to console.log() which turns dates into date strings..

[2015-03-09 01:37] sdesalas commented on #50
I've integrated this functionality into 'Naviged' event as you suggested, thanks for picking this up.

Just need to add a couple of unit tests for page.onError.

[2015-03-09 05:15] tejacques commented on #47
In phantomJS `onInitialized` is called before the DOM is ready or any JS executes on the page.

Here's an example to test with:

TestPage.html
[code]

TestScript.js
[code]

PhantomJS Output:
[code]

TrifleJS Output:
[code]

Currently, TrifleJS isn't calling onInitialized at all unless a page is loaded, and onInitialized is called after the page runs, but before onload.

[2015-03-09 05:46] sdesalas commented on #50
Hi @tejacques,

Did you manage to get JS error handlers to fire at all using `browser.Document.Window.Error += delegate(object obj, HtmlElementErrorEventArgs e)`?, I had to give up on this approach which worked last time I look at it about a year ago. Instead I'm using injected javascript to capture `window.onerror`, which works more predictably.

Fix is ready, feel free to take a look and provide

[2015-03-09 05:58] tejacques commented on #50
Pretty much all I had to do to get it to work in some simple tests was moving `browser.Document.Window.Error += delegate(object obj, HtmlElementErrorEventArgs e)` to the `Navigated` event.

[2015-03-09 06:13] sdesalas commented on #51
Should be working now. Only thing is getting the proxy authentication working but for that I have to write some proxy code to run unit tests with. Ta!

[2015-03-11 13:04] sdesalas commented on #47
Hiya,

Thanks for the great test example, I've used it to determine the load order for main lifecycle events (including onLoadStarted and onLoadFinished) and got the following from PhantomJS:

    onInitialized
    onCallback: beforeopen
    onLoadStarted
    onInitialized
    onCallback: script
    onCallback: onload
    onLoadFinished

I've replicated this order with one exception in my unit tes

[2015-03-11 13:09] sdesalas commented on #50
Hmm that didnt work for me, I wonder if its different OS or IE version (I'm Win7 x86 running IE11)

[2015-03-14 06:38] rajeshpaddy commented on #48
I'm having an issue with trifflejs similar to what is mentioned in this old post - https://github.com/ariya/phantomjs/issues/10619.

I'm setting a viewport width of 1420 and height of 800. But the rendered image takes the width correctly but the height is 10425. This makes the document very narrow. I would use clipRect if that works?. Do you know when clipRect will be available for trifflejs?

[2015-03-15 07:03] sdesalas commented on #48
Hi @rajeshpaddy,

Can you copy/paste your testing script?

Thanks!

[2015-03-15 19:16] rajeshpaddy commented on #48
var page = require('webpage').create();

page.zoomFactor=1;

page.onLoadFinished = function(e) {
     setTimeout(function(){
      page.render('msn.jpg',{quality:50});
      phantom.exit();},30000);
 };
page.viewportSize={width:1420,height:800};
console.log(page.viewportSize);
page.localT1oRemoteUrlAccessEnabled =true;

setTimeout(page.open('http://www.msn.com', function() {}),30000);
![msn](https

[2015-03-15 19:20] rajeshpaddy commented on #48
##### In the above example the height is coming out as 5344. I expect it to 800.

[2015-03-17 00:41] sdesalas commented on #48
Screenshot and test script received with thanks. Will get to it as soon as I can turn attention back to rendering functionality.

By the way this is related to `page.viewportSize`, which is a separate issue to one logged by @juliensobrier, in the future kindly open a separate ticket. Thanks.

[2015-03-17 06:03] sdesalas commented on #48
Hi @juliensobrier.

Sorry for taking so long to get back, I think your issue should have been fixed after commit 125e7a0. This was repairing a call to `window.navigator` (using `page._evaluate()`) before the document had been initialized. Could you try again?

Thanks!

[2015-03-17 06:31] sdesalas commented on #48
HI @rajeshpaddy, @juliensobrier.

Try your scripts after this fix, should help when rendering websites.

BTW @rajeshpaddy. I'm still to look into `page.viewportSize`, I have a feeling that the current functionality is the same as phantomJS (ie that rendered screenshots are not limited by viewport size but always render the whole page). I could be wrong though..

[2015-03-17 06:36] sdesalas commented on #48
Hi @rajeshpaddy,

I just checked phantomJS and the script you sent me outputs a file `msn.jpg' that is 1420 x 2444. There is no issue here.. just your own expectation (although I have to admit this is what I thought phantom would do originally when I first wrote the API).

[2015-03-17 12:15] #50 closed

[2015-03-17 12:15] #51 closed

[2015-03-17 12:16] #36 closed

[2015-03-17 12:58] sdesalas commented on #45
Added CLI option `--ingore-popups` for this.

[2015-03-18 03:33] juliensobrier commented on #48
@sdesalas http://livedoor.com/ still hangs TriffleJS

[2015-03-19 00:12] sdesalas commented on #48
Seems ok for me, try using the `--render=http://livedoor.com` option.

    D:\Software\TrifleJS>TrifleJS.exe --render=http://livedoor.com
    Rendering http://livedoor.com...
    Screenshot rendered to file: livedoor.com.png
    Screenshot rendered to file: livedoor.com.png
    Screenshot rendered to file: livedoor.com.png
    Screenshot rendered to file: livedoor.com.png
    Screenshot rendered t

[2015-03-20 17:09] masi opened #54 "Can trifleJS use Chakra instead of V8?"
It seems a bit odd to use Chrome's JS engine instead of IE's one.

This one here claims to be able to embed Chakra:

https://github.com/Taritsyn/MsieJavaScriptEngine

MS itself seems to support officially Chakra only via IE11 :(

https://msdn.microsoft.com/en-us/library/dn249673%28v=vs.94%29.aspx
http://www.panopticoncentral.net/2013/07/02/introducing-jsrt-embedding-javascript-on-windows/

IMHO it

[2015-03-20 21:04] tejacques commented on #54
I'm not sure if this answers your question, but trifleJS only uses V8 to run script files which talk to a web browser. Inside of the browser it will run that version of IE's native JS engine.

[2015-03-20 22:03] masi commented on #54
Yes, it does.

"A headless Internet Explorer browser using the .NET WebBrowser Class with a Javascript API running on the V8 JavaScript Engine."

This so prominently features V8 that I was mislead.

[2015-03-22 01:07] sdesalas commented on #54
Hi @masi:

https://github.com/sdesalas/trifleJS/wiki#internet-explorer-has-a-different-javascript-engine-how-can-you-be-running-ie-with-the-v8-engine

[2015-03-22 01:07] #54 closed

[2015-04-16 10:21] jouni-kantola commented on #25
*TL;DR*
Reading up in this issue I downloaded ```Noesis.Javascript v0.7 - Binaries.zip (http://javascriptdotnet.codeplex.com/releases/view/88504)``` and referenced the v4.0 binaries in the project and rebuild, and that worked. I'm guessing a beta for .NET Framework 4+ would be of good use, I'm guessing most people use it.

*Issue with TrifleJS dists:*
I cannot get the executable going. It doesn't

[2015-05-25 10:34] xiangdewei opened #55 "clipRect can not work well"
Hello,

I found an issue, I use trifleJS to capture a specific DOM element, the same code that can work correctly in Phantom, but in trifileJS can not work correctly.

This is my full code, and my IE=11

var page = require('webpage').create(),
       system = require('system'),
       address, output, size;

var output = "cnblog.png";
var address = "http://news.cnblogs.com/n/521792/";

page.viewpo

[2015-05-26 09:19] xiangdewei commented on #55
Hello, anybody saw my question?

[2015-06-01 02:30] xiangdewei commented on #55
HI,

I sloved this problem, just switch the two parameters,that is

 top: clipRect.left,
  left: clipRect.top

it will be right,thanks a lot.

[2015-06-01 02:30] #55 closed

[2015-06-16 20:45] fearphage opened #56 "Question: Any plans to make this work outside of windows?"
This would be a really powerful tool to use in continuous integration environment. Do you have any plans to support non-windows platforms?

[2015-08-13 15:11] elvarb commented on #25
I was trying to get it to run in Windows Server 2012 R2 and got this error while using TrifleJS.Latest.zip, by adding the Noesis.Javascript.dll from the Stable release to the directory the error I get is

phantom.fireEvent() (1,0): ReferenceError: phantom is not defined

[2015-10-09 17:29] zielinskin opened #57 "System args not populating"
Running the exe with these arguments:
\\foo\foo\foo\foo\TrifleJS.exe \\foo\foo\foo\foo\rasterize.js http://foo:123/foo/foo.html?foo=123 C:\foo\foo.png

When doing a loop thru system.args however, only returns this:
0: \\\\foo\\foo\\foo\\foo\\rasterize.js

I expect this:
0: \\\\foo\\foo\\foo\\foo\\rasterize.js
1: http://foo:123/foo/foo.html?foo=123
2: C:\foo\foo.png

Here is the command I'm running

[2015-11-03 04:43] axtens opened #58 "Render pages supplied as text"
Granted, the fragment entered in to page.content is not a full page of HTML. All the same, the response `Error getting value from 'focusedFrameName' on 'TrifleJS.API.Modules.WebPage'.` lacks grace.

[code]

Bruce/bugmagnet

[2015-12-14 18:34] vintagenub opened #59 "TrifleJs in Windows Server"
Hello, I'm a beginner on this and i'm trying to run trifleJs on Windows Server 2008 SP2,
here's my code;

C:> TrifleJS.exe --emulate=IE8  download_data.js

download_data.js :

var page1 = require('webpage').create(),
    pag1 = 'http://10.192.XX.XX:8888/Ingenieria/logiN.do',
    dat1 = 'user=myuser&pass=mypass';

//page1.settings.userAgent = 'Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 5.1; Trid

[2016-01-05 12:26] tostercx opened #60 "Crash: Vector smash protection is enabled."
Hi, I notice trifle crashes from time to time with the error message `Vector smash protection is enabled.` while scarping the web.

Not sure if it's related to flash or not, but it does crash on the official flash test page.

    Setting Version to IE11
    Rendering https://www.adobe.com/software/flash/about/...
    Vector smash protection is enabled.

The weird thing is it renders flash on other

[2016-01-29 17:48] tostercx commented on #60
No idea what was causing it. But now it works...

[2016-01-29 17:48] #60 closed

[2016-04-04 01:53] wx-chevalier opened #61 "System.IO.FileNotFoundException"
![image](https://cloud.githubusercontent.com/assets/5803001/14236624/eb45c1c2-fa4a-11e5-879a-663b4acf8b04.png)

I run it in Windows 7 X64 : 6.1.7601.2.1.0.256.1

And it reported that System.IO.FileNotFoundException Exception.

[2016-05-22 08:10] sdesalas commented on #61
Thanks for the bug report. Looks simlar to 25, can you take a look?

[2016-05-22 08:14] sdesalas commented on #56
HI @fearphage,

Thanks for the interest. Completely agree with you, the whole point of TrifleJS is to use it in CI or similar automation environment.

Unfortunately IE is not available in other operating systems. The [wiki contains an FAQ](https://github.com/sdesalas/trifleJS/wiki#are-you-planning-to-suport-linuxosx) with similar questions/answers on the topic.

[2016-05-22 08:18] #56 closed

[2016-05-22 08:21] #31 closed

[2016-05-22 08:22] #48 closed

[2016-05-22 08:22] #45 closed

[2017-03-17 12:12] 9allenzhao opened #62 "webpage method"
webpage
.open(url, method, data, callback)
php server with $ _POST not receive data, hope as soon as possible .openUrl (url, httpConf, settings)

[2017-04-15 04:00] llermaly opened #63 "uriString can not be null exception when emulating"
Hello,

I'm working with a very old system that only works properly with compatibility mode enabled, if not some tables doesn't show. Works with IE6 to IE10.

Without --emulate flag I can login and navigate but the required tables doesn't show OK.

Then using emulate and stable version of trifleJS I get this uriString can not be null exception, I can skip it but system does not login.

Using lates

[2017-07-12 09:55] vercha opened #64 "trifleJS shut down & builds error :Please install Windows SDK 2010."
E:\trifleJS-master\Build>.\Build.TrifleJS.bat
Please install Windows SDK 2010.
http://www.microsoft.com/en-us/download/details.aspx?id=8279

after installation , it will fail as well .

In directory C:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A  ;I found sdk2010 has already been installed.

but,why it fails to build?
Thanks for any advice!

[2017-08-04 06:30] vercha commented on #64
I see, in your code：
SET WinSDK70A=C:\Program Files\Microsoft SDKs\Windows\v7.0A\bin\.
SET WinSDK71=C:\Program Files\Microsoft SDKs\Windows\v7.1\bin\.

then I change the path to:
SET WinSDK70A=C:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A\bin\.
SET WinSDK71=C:\Program Files (x86)\Microsoft SDKs\Windows\v7.1\bin\.

It seems build successfully.
but when I open trifleJS.exe in the binary direct

[2017-11-21 08:34] #62 closed, assigned to nobody

[2018-07-17 12:16] 8021677 opened #65 "About command mode high concurrency"
it is a nice tool for me when i am useing it on windows 2008 64bit   。because low memory and cpu taken

my question is  that when  triflejs.exe --render=myurl opened more than 2 process in the same time, for example 5.(all 5 can be seen in taskmanager)    the result  will be only 1 or 2 page really visited（by web log）               most work process lost!
can this be solved？

[2018-07-17 12:23] 8021677 commented on #65
by the way, i have already tested another method to headless visit a url.
like:        chrome.exe --headless myurl
when high concurrency, it is also loose process。
chrome headless take a high hardware POSESION。so i don't want to use it

[2019-01-18 00:50] 8021677 commented on #65
i'm back. i truned to win2016, found that this problem was solved! works perfect! very very happy. thanks to the auther of triflejs!

[2020-10-06 06:25] initprism commented on #65
Thank you for letting me know what the problem is and how to it.

[2020-10-06 06:26] initprism commented on #65
Thank you for letting me know what the problem is and how to it.

[2020-12-10 04:23] 8021677 commented on #65
haha,i'm a chinese.you can understand what i said.

[2021-09-15 09:58] #61 closed

[2021-09-26 10:24] camisirli commented on #20
I really need selenium webdriver integration. Is there any update in this topic or can you suggest me alternative way?

[2021-09-27 14:19] sdesalas commented on #20
Sorry. No plans to integrate selenium webdriver. Feel free to fork the project and do the integration if you really need it, you can shoot me a PR when you are finished.

[2021-09-28 05:44] camisirli commented on #20
Thank you for your response. I would like to that but I do not have enough background in selenium also in C#. I am gonna check for alternative ways.